/* Import Normalize.css */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css";
/* Import Fonts */
@import 'fonts';

/* SASS Vars and Mixins */
$mainFontColor: #7E8EAB;
$activeFontColor: #E0E3EA;

$mainDark: #182330;
$mainGrey: #242D3D;
$btnBlue: #2D70C5;
$tableBorderColor: #334056;

$fontSize: 13px;
$bigFontSize: 20px;

/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: DroidSans, sans-serif;
	font-size: $fontSize;
	color: $mainFontColor;
	background-color: $mainDark;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}

ul {
	li {
		list-style: none;
	}
}

a {
	color: $mainFontColor;
	text-decoration: none;
}

input, button {
	border: 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {clear: both;}
/* End General Styles */


/* Header Section Start */
header {
	background-color: $mainGrey;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
}

.brand-nav {
	font-size: $bigFontSize;
	padding: 11px 19px 17px 0;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

	ul {
		display: flex;
		li a {
			display: block;
			padding: 17px 9px;
    		margin: 0 7px;
			border-bottom: 3px solid transparent;

			&:hover {
				color: $activeFontColor;
				border-bottom-color: $activeFontColor;
			}

			&.active {
				color: $activeFontColor;
				border-bottom-color: $activeFontColor;
			}
		}
	}
}

.login {
	ul {
		display: flex;
		li a {
			display: block;
			padding: 16px;
			border-bottom: none;

			&:hover {
				color: $activeFontColor;
			}
		}
		i {
			font-size: 16px;
		}
	}
}

.burger-menu {
    display: none;

    .ico {
    	display: block;
	    position: relative;
	    width: 20px;
	    height: 2px;
	    transform: rotate(0deg);
	    transition: all .42s ease-in-out;
	    border-radius: 10px;
	    background-color: $mainFontColor;

	    &::before, &::after {
	    	display: block;
		    position: absolute;
		    content: '';
		    width: 20px;
		    height: 2px;
		    transition: transform .42s ease-in-out;
		    border-radius: 10px;
		    background-color: $mainFontColor;
	    }

	    &::before {
	    	transform: translateY(-7px) rotate(0deg) scaleX(1);
	    }

	    &::after {
	    	transform: translateY(7px) rotate(0deg) scaleX(1);
	    }
    }
}

.show-nav .burger-menu .ico {
	transform: rotate(180deg);
    background: transparent;

    &::before {
    	transform: translateY(0px) rotate(45deg) scaleX(1);
    }

    &::after {
    	transform: translateY(0px) rotate(-45deg) scaleX(1);
    }
}
/* End Header Section */


/* Main Content Section */
.wrapper {
	max-width: 1030px;
	padding: 0 15px;
	margin: 0 auto;
}

.top-section {
	margin-bottom: 30px;
}

.heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 32px; 

	h2 {
		font-size: $bigFontSize;
		color: $activeFontColor;

	}
}

.heading-estimated {
	span {
		color: $activeFontColor;
	}
}

.content-nav {
	background-color: $mainGrey;
	padding: 0 30px;
	ul {
		display: flex;
		li a {
			display: block;
			padding: 23px 17px;
    		margin-right: 6px;
			border-bottom: 3px solid transparent;

			&:hover {
				color: $activeFontColor;
				border-bottom-color: $activeFontColor;
			}

			&.active {
				color: $activeFontColor;
				border-bottom-color: $activeFontColor;
			}
		}
	}
}

.content-section {
	background-color: $mainGrey;
	padding: 30px;
	margin-bottom: 60px;
}

.row-title {
	margin-bottom: 26px;
}

.row-title, .row-value {
	
	ul {
		display: flex;
		flex-wrap: wrap;

		li {
			display: block;
			&:nth-child(1) {
				width: 145px;
			}
			&:nth-child(2) {
				width: 210px;
			}
			&:nth-child(3) {
				width: 205px;
			}
		}
	}
}

.row-value {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	ul {
		padding: 5px 0;

		li {
			color: $activeFontColor;
		}
	}
}

.close-button {
	margin-right: 22px;
	display: none;

	&:hover {
		color: $activeFontColor;
	}
}

.withdraw-form-wrap {
	display: none;
}

.withdraw-form-block {
	display: flex;
	margin-top: 32px;
	margin-bottom: 32px;
}

.withdraw-form {
	width: 481px;
	max-width: 100%;
	margin-right: 30px;

	.amount-wrap {
		position: relative;

		input {
			padding-right: 40px;
		}

		span {
			position: absolute;
			top: 12px;
			right: 10px;
		}
	}

	input {
		background-color: $mainDark;
		color: $mainFontColor;
		width: 100%;
		padding: 12px;
		margin-bottom: 20px;
	}
}


.form-description {
	width: 406px;
	max-width: 100%;
	margin-top: -3px;

	p {
		line-height: 20px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.form-recieve {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 32px;

	span {
		color: $activeFontColor;
	}
}

.button-blue {
	background-color: $btnBlue;
	color: $activeFontColor;
	font-size: $fontSize;
	text-transform: uppercase;
	cursor: pointer;
	padding: 13px 45px;

	&:hover {
		background-color: darken($btnBlue, 10%);
	}
}

.funding-table {
	.row-value-wrap {
		border-top: 1px solid $tableBorderColor;

		&:first-child {
			border-top: 0;
		}
	}
	.row-value {
		padding: 13px 0;
		margin-bottom: 0;
		align-items: center;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.row-buttons {
		margin-right: 14px;

		button {
			background-color: $mainDark;
			color: $activeFontColor;
			padding: 5px 15px;
			margin: 0 9px;
			&:hover {
				cursor: pointer;
				background-color: lighten($mainDark, 15%);;
			}
		}
	}
		
}
/* End Main Content Section */

/* Import Media Queris */
@import 'media';