/* Import Normalize.css */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css";
/* Import Fonts */
@font-face {
  font-family: 'DroidSans';
  src: url("../fonts/DroidSans.eot");
  src: url("../fonts/DroidSans.woff2") format("woff2"), url("../fonts/DroidSans.woff") format("woff"), url("../fonts/DroidSans.ttf") format("truetype"), url("../fonts/DroidSans.svg#DroidSans") format("svg"), url("../fonts/DroidSans.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DroidSans';
  src: url("../fonts/DroidSans-Bold.eot");
  src: url("../fonts/DroidSans-Bold.woff2") format("woff2"), url("../fonts/DroidSans-Bold.woff") format("woff"), url("../fonts/DroidSans-Bold.ttf") format("truetype"), url("../fonts/DroidSans-Bold.svg#DroidSans-Bold") format("svg"), url("../fonts/DroidSans-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }
/* SASS Vars and Mixins */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: DroidSans, sans-serif;
  font-size: 13px;
  color: #7E8EAB;
  background-color: #182330; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

ul li {
  list-style: none; }

a {
  color: #7E8EAB;
  text-decoration: none; }

input, button {
  border: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* End General Styles */
/* Header Section Start */
header {
  background-color: #242D3D;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px; }

.brand-nav {
  font-size: 20px;
  padding: 11px 19px 17px 0; }

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1; }
  .main-nav ul {
    display: flex; }
    .main-nav ul li a {
      display: block;
      padding: 17px 9px;
      margin: 0 7px;
      border-bottom: 3px solid transparent; }
      .main-nav ul li a:hover {
        color: #E0E3EA;
        border-bottom-color: #E0E3EA; }
      .main-nav ul li a.active {
        color: #E0E3EA;
        border-bottom-color: #E0E3EA; }

.login ul {
  display: flex; }
  .login ul li a {
    display: block;
    padding: 16px;
    border-bottom: none; }
    .login ul li a:hover {
      color: #E0E3EA; }
  .login ul i {
    font-size: 16px; }

.burger-menu {
  display: none; }
  .burger-menu .ico {
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    transform: rotate(0deg);
    transition: all .42s ease-in-out;
    border-radius: 10px;
    background-color: #7E8EAB; }
    .burger-menu .ico::before, .burger-menu .ico::after {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      transition: transform .42s ease-in-out;
      border-radius: 10px;
      background-color: #7E8EAB; }
    .burger-menu .ico::before {
      transform: translateY(-7px) rotate(0deg) scaleX(1); }
    .burger-menu .ico::after {
      transform: translateY(7px) rotate(0deg) scaleX(1); }

.show-nav .burger-menu .ico {
  transform: rotate(180deg);
  background: transparent; }
  .show-nav .burger-menu .ico::before {
    transform: translateY(0px) rotate(45deg) scaleX(1); }
  .show-nav .burger-menu .ico::after {
    transform: translateY(0px) rotate(-45deg) scaleX(1); }

/* End Header Section */
/* Main Content Section */
.wrapper {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto; }

.top-section {
  margin-bottom: 30px; }

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px; }
  .heading h2 {
    font-size: 20px;
    color: #E0E3EA; }

.heading-estimated span {
  color: #E0E3EA; }

.content-nav {
  background-color: #242D3D;
  padding: 0 30px; }
  .content-nav ul {
    display: flex; }
    .content-nav ul li a {
      display: block;
      padding: 23px 17px;
      margin-right: 6px;
      border-bottom: 3px solid transparent; }
      .content-nav ul li a:hover {
        color: #E0E3EA;
        border-bottom-color: #E0E3EA; }
      .content-nav ul li a.active {
        color: #E0E3EA;
        border-bottom-color: #E0E3EA; }

.content-section {
  background-color: #242D3D;
  padding: 30px;
  margin-bottom: 60px; }

.row-title {
  margin-bottom: 26px; }

.row-title ul, .row-value ul {
  display: flex;
  flex-wrap: wrap; }
  .row-title ul li, .row-value ul li {
    display: block; }
    .row-title ul li:nth-child(1), .row-value ul li:nth-child(1) {
      width: 145px; }
    .row-title ul li:nth-child(2), .row-value ul li:nth-child(2) {
      width: 210px; }
    .row-title ul li:nth-child(3), .row-value ul li:nth-child(3) {
      width: 205px; }

.row-value {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .row-value ul {
    padding: 5px 0; }
    .row-value ul li {
      color: #E0E3EA; }

.close-button {
  margin-right: 22px;
  display: none; }
  .close-button:hover {
    color: #E0E3EA; }

.withdraw-form-wrap {
  display: none; }

.withdraw-form-block {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px; }

.withdraw-form {
  width: 481px;
  max-width: 100%;
  margin-right: 30px; }
  .withdraw-form .amount-wrap {
    position: relative; }
    .withdraw-form .amount-wrap input {
      padding-right: 40px; }
    .withdraw-form .amount-wrap span {
      position: absolute;
      top: 12px;
      right: 10px; }
  .withdraw-form input {
    background-color: #182330;
    color: #7E8EAB;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; }

.form-description {
  width: 406px;
  max-width: 100%;
  margin-top: -3px; }
  .form-description p {
    line-height: 20px; }
    .form-description p:not(:last-child) {
      margin-bottom: 15px; }

.form-recieve {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 32px; }
  .form-recieve span {
    color: #E0E3EA; }

.button-blue {
  background-color: #2D70C5;
  color: #E0E3EA;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 13px 45px; }
  .button-blue:hover {
    background-color: #24589b; }

.funding-table .row-value-wrap {
  border-top: 1px solid #334056; }
  .funding-table .row-value-wrap:first-child {
    border-top: 0; }
.funding-table .row-value {
  padding: 13px 0;
  margin-bottom: 0;
  align-items: center; }
  .funding-table .row-value:last-child {
    padding-bottom: 0; }
.funding-table .row-buttons {
  margin-right: 14px; }
  .funding-table .row-buttons button {
    background-color: #182330;
    color: #E0E3EA;
    padding: 5px 15px;
    margin: 0 9px; }
    .funding-table .row-buttons button:hover {
      cursor: pointer;
      background-color: #324863; }

/* End Main Content Section */
/* Import Media Queris */
@media screen and (max-width: 992px) {
  .row-title ul, .row-value ul {
    width: calc(100% - 215px); }
    .row-title ul li:nth-child(1), .row-value ul li:nth-child(1) {
      width: 130px;
      max-width: 25%; }
    .row-title ul li:nth-child(2), .row-value ul li:nth-child(2) {
      width: 180px;
      max-width: 35%; }
    .row-title ul li:nth-child(3), .row-value ul li:nth-child(3) {
      width: 170px;
      max-width: 30%; } }
@media screen and (max-width: 768px) {
  .brand-nav {
    padding-right: 0; }

  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-top: 24px; }

  .main-nav {
    display: none; }

  .show-nav .main-nav {
    display: block; }
    .show-nav .main-nav ul {
      display: block; }
      .show-nav .main-nav ul li {
        display: list-item;
        text-align: center; }
        .show-nav .main-nav ul li a {
          border-bottom: 0; }

  .row-title ul, .row-value ul {
    width: 100%; }

  .funding-table .row-buttons {
    margin: 20px 0 10px; }
    .funding-table .row-buttons .deposit {
      margin-left: 0; }

  .withdraw-form-block {
    margin-top: 8px;
    margin-bottom: 20px; }

  .close-button {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 5px 0; } }
@media screen and (max-width: 576px) {
  body {
    font-size: 11px; }

  .content-section {
    padding: 15px; }

  .row-title ul li:nth-child(1), .row-title ul li:nth-child(2), .row-title ul li:nth-child(3), .row-title ul li:nth-child(4), .row-value ul li:nth-child(1), .row-value ul li:nth-child(2), .row-value ul li:nth-child(3), .row-value ul li:nth-child(4) {
    max-width: 25%; }

  .withdraw-form-block {
    flex-wrap: wrap; }

  .withdraw-form {
    width: 100%;
    margin-right: 0; }

  .form-description {
    margin-top: 20px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
